.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.game-board {
    border: 1px solid #333;
}

.game-status {
    background: #689f20;
    border: 0px solid #000000;
    font-size: 30px;
    font-weight: bolder;
    color:rgb(217, 222, 218);
    line-height: 50px;
    height: 50px;
    width: 250px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
}

.game-reset {
    background: #689f20;
    border: 0px solid #000000;
    font-size: 30px;
    font-weight: bolder;
    color:rgb(217, 222, 218);
    line-height: 50px;
    height: 50px;
    width: 250px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    bottom:10px;
    position:absolute;
    float: right;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}
.square {
    background: #689f20;
    background-position: center;
    border: 1px solid #000000;
    float: left;
    position:relative;
    z-index: 1;
    font-size: 150px;
    font-weight: bolder;
    color:rgb(217, 222, 218);
    line-height: 50px;
    height: 200px;
    width: 200px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
}

.sqaure:hover {
    background:#457309;
}

.winnerBoard {
    background: #ffffff00;
    float:center;
    position:absolute;
    z-index: 2;
    font-size: 250px;
    font-weight: bolder;
    color:rgb(0, 0, 0);
    line-height: 250px;
    height: 600px;
    width: 600px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0;
    text-align: center;
    display:none;
}

.game-info {
    margin-left: 20px;
}

.game-info button {
    margin-top: 20px;
}

.counters {
    background: #689f20;
    border: 0px solid #000000;
    float:none;
    font-size: 15px;
    font-weight: normal;
    height: 30px;
    width: 90px;
    text-align: center;
    color: #000000;
    margin-left: 100px;
}

.text {
    float:none;
    font-size: 15px;
    font-weight:bold;
    height: 30px;
    width: 90px;
    text-align: center;
    color: #000000;
    margin-left: 100px;
}

.title {
    font-size: 50px;
    font-weight:bold;
    height: 50px;
    text-align: center;
    color: #000000;
    position:absolute;
    top:-10px;
}