body {
    font-family: 'Poppins', sans-serif; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#222222;
  }

.input-container { 
    color:rgb(211, 192, 24);
    font-size: 50px;
    position: center;
}

.input-container:focus-within {
    font-size: 25px;
    transition: 0.2s;
}

.input-text {
    width: 30%;
    padding: 12px 20px;
    margin: 0px 0;
    outline:0;
    border: none;
    border-bottom: 2px solid rgb(211, 192, 24);
    background-color:transparent;
    color:rgb(211, 192, 24);
    font-size: 50px;
    position: center;
    transition: 0.2s;
}

.input-text:focus {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    outline:0;
    border-bottom: 2px solid rgb(211, 192, 24);
    background-color:transparent;
    font-size: 75px;
    transition: 0.2s;
}

.notification-button {
    color:white;
    padding: 12px 20px;
    margin: 8px 0;
    outline:0;
    border:none;
    background-color:cadetblue;
    font-size:30px;
    position:center;
}