:root {
    --orange: rgb(247,145,32);
    --green: rgb(3,103,97);
    --white: rgb(230, 230, 230);
    --blue: rgb(26,69,126);
}

body {
    background-color: var(--white);
    margin:0px 0;
} 

*::-webkit-scrollbar {
    height: 5px;
    width: 2px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: var(--white);
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: var(--white);
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: var(--white);
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: var(--green);
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--green);
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: var(--green);
  }
  
.nav {
    overflow:hidden;
    display:flex;
    justify-content: space-between;
    position:fixed;
    z-index:1;
    top: 0;
    width: 100%;
    background-color:var(--green);
    color: var(--white);
    height:11%;
}

.name {
    justify-content:flex-start;
    text-align: left;
    margin: 5px;
    font-size:65px;
    font-family: "Bebas Neue", monospace;
}

.nav-btn {
    justify-content: flex-end;
    display:block;
    background-color: var(--green);
    color: var(--white);
    text-align: center;
    border:none;
    transition-duration: 0.2s;
    height:10%;
    width:15%;
    font-size:25px;
    padding: 35px 0px;
    text-decoration: none;
    font-family: "Bebas Neue", monospace;
}

.nav-btn:hover {
    background-color:var(--orange);
    color:var(--green);
}

.section-head {
    margin-top:5%;
}

.type-writer {
    min-height: 200px;
    color:var(--white);
    font-size:75px;
    background-color: var(--orange);
    --mask:
      radial-gradient(68.82px at 50% calc(100% - 96px),#000 99%,#0000 101%) calc(50% - 80px) 0/160px 100%,
      radial-gradient(68.82px at 50% calc(100% + 56px),#0000 99%,#000 101%) 50% calc(100% - 40px)/160px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}

h1 {
    color:var(--green);
    font-family: "Bebas Neue", monospace;
}

h2 {
    color:var(--blue);
    font-family: "Bebas Neue", monospace;
}

h3 {
    color: var(--orange);
    font-family: "Bai Jamjuree", monospace;
}

p {
    color:black;
    font-family: "Bai Jamjuree", monospace;
}

.img-btn {
    max-width: 200px;
    padding:30px;
}

.scroll-container{
    overflow: auto;
    white-space: nowrap;
    padding: 5px 70px 5px 20px;
    background: transparent;
    height: 100%;
    border-radius:15px;
  }
  
  .gridscroll{
    display:inline-block;
  }
  
  .gridscroll img {
    margin-right:22px;
  }