:root {
    --orange: rgb(247,145,32);
    --green: rgb(3,103,97);
    --white: rgb(230, 230, 230);
    --blue: rgb(26,69,126);
}

body {
    background-color: var(--white);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0px 0;
}

.header {
    overflow:hidden;
    display:flex;
    justify-content: space-between;
    position:fixed;
    z-index:1;
    top: 0;
    width: 100%;
    background-color:var(--green);
    color: var(--orange);
    height:11%;
}

.name {
    justify-content:flex-start;
    text-align: left;
    margin: 5px;
    font-size:65px;
}

.header-buttons {
    justify-content: flex-end;
    display:block;
    background-color: var(--green);
    color: var(--orange);
    text-align: center;
    border:none;
    transition-duration: 0.2s;
    height:10%;
    width:15%;
    font-size:25px;
    padding: 35px 0px;
    text-decoration: none;
}

.header-buttons:hover {
    background-color:var(--orange);
    color:var(--green);
}

.section-head {
    margin-top:5%;
}

.type-writer {
    min-height: 200px;
    color:var(--green);
    font-size:75px;
    background-color: var(--orange);
    --mask:
      radial-gradient(68.82px at 50% calc(100% - 96px),#000 99%,#0000 101%) calc(50% - 80px) 0/160px 100%,
      radial-gradient(68.82px at 50% calc(100% + 56px),#0000 99%,#000 101%) 50% calc(100% - 40px)/160px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}

h1 {
    color:var(--green);
    font-family: "American Typewriter", serif;
}

h2 {
    color:var(--blue);
    font-family: "Andale Mono", "Lucida Console", monospace;
}

h3 {
    color: var(--orange);
    font-family: "Andale Mono", "Lucida Console", monospace;
}

p {
    color:black;
    font-family: "Lucida Console","Andale Mono", monospace;
}